@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Tenali+Ramakrishna&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.film{
    transition: opacity 250ms ease-in
}
.fancy-link{
    background-image: linear-gradient(90deg, rgb(156, 12, 213),rgb(60, 49, 160));
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.fancy-link:hover{
    background-size: 100% 1px;
}

.shadowtext{
    text-shadow: -30px -30px 3px rgba(149, 150, 150, 1);
}
.trn {
    background-color: orange;
    animation-name: MoveMe;
    animation-duration: 4s;
  }
  @keyframes MoveMe {
    0%  
    {
        color:transparent;
        background-color: orange;}
   50%  {background-color: green;}
    100%   {
        color:black;
        background-color:black;}
  }

  
  .myline {
    width: 100%;
    height: 40vh;
    background-size: 200% 400%;
    background-image: repeating-linear-gradient(
		-45deg,
		/* rgb(27, 51, 228) 70%,   */
		rgb(123, 71, 226) 15%, 
		hsl(30,50%,100%) 30%,  /* rosa */
		rgb(19, 17, 191) 45%  
	);
    animation: diagonal 3s  ease-in-out ;
    animation-fill-mode: forwards;
}

@keyframes diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50% }
}
.m-fadeOut {
  
  
    position: absolute;
    left: -260px;;
    animation: mymove 1s backwards;
  }
  @keyframes mymove {
    from {left: 0px;}
    to {left: -260px;}
  }
  .m-fadeIn {
    /* visibility: visible;
    transition:  ease-in-out 700ms, opacity 300ms; */
    opacity: 1;
    position: relative;
    animation:mymoveback  1s  forwards;
    
  }
  @keyframes mymoveback {
    from {left: -260px;}
    to {left: 0px;}
  }